@import "base.css";

/* Various breaks/hyphenation rules */
html {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-font-feature-settings: 'kern', 'liga', 'calt', 'onum';
  -moz-font-feature-settings: 'kern', 'liga', 'calt', 'onum';
  font-feature-settings: 'kern', 'liga', 'calt', 'onum';
}
