@import "base.css";

/* FONT FACE DECLARATIONS */
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lato-v14-latin-regular.woff2') format('woff2'),
    url('/fonts/lato-v14-latin-regular.woff') format('woff');
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/lato-v14-latin-italic.woff2') format('woff2'),
    url('/fonts/lato-v14-latin-italic.woff') format('woff');
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/lato-v14-latin-700.woff2') format('woff2'),
    url('/fonts/lato-v14-latin-700.woff') format('woff');
}

/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/noto-serif-v6-latin-regular.woff2') format('woff2'),
    url('/fonts/noto-serif-v6-latin-regular.woff') format('woff');
}

/* noto-serif-italic - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/noto-serif-v6-latin-italic.woff2') format('woff2'),
    url('/fonts/noto-serif-v6-latin-italic.woff') format('woff');
}

/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/noto-serif-v6-latin-700.woff2') format('woff2'),
    url('/fonts/noto-serif-v6-latin-700.woff') format('woff');
}

/* FONT CLASSES */
/* Only display the fallback font stack while fonts are loading
 * This prevents the browser from blocking, since there is no font
 * for the node loading, as far as it can tell.
 *
 * Again, you can play with this and see what works for your case.
 * Also note that you could just as well have selectors on tags or
 * other classes, as you wish.
 *
 * You can simplify this process with your favourite CSS preprocessor
 * */
.lato {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.notoserif {
  font-family: georgia, times, serif;
}

/* Once fonts are loaded, use the full font; the browser will switch to them
 * instantly, saving you the FOIT!
 */
.fonts-active .lato {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.fonts-active .notoserif {
  font-family: 'Noto Serif', georgia, times, serif;
}

/* Only display the fallback font stack while fonts are loading */

/* Various breaks/hyphenation rules */
html {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-font-feature-settings: 'kern', 'liga', 'calt', 'onum';
  -moz-font-feature-settings: 'kern', 'liga', 'calt', 'onum';
  font-feature-settings: 'kern', 'liga', 'calt', 'onum';
}
